
h1{
	border: 1px solid;
	color: red;
}
#usuario,  #maquina,  #medio{
	border: 1px solid blue;
	float: left;
	height: 230px;
	position: relative;
	width: 360px;
}
.medio{
	border: 1px solid red;
	height: 70px;
}

#abajo{
	border: 1px solid green;
	position: absolute;
	text-align: center;
	top:385px;
	width: 1080px;


	
}